.list-item {
    align-items: center;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: rgba(red, green, blue, alpha);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 200px;
    padding: 10px 5px;
}

.list-item-image-wrapper {
    width: 100%;
    height: 200px;
}

.list-item-image {
    width: 100%;
}