* {
    margin: 0px;
    padding: 0px;
}

html {
    height: 100%;
}

body {
    align-items: center;
    background-color: #33516e;
    display: flex;
    height: 100%;
    justify-content: center;

    /* Fontes do sistema usadas pelo Github */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, 'Helvetica Neue', sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', Segoe UI Symbol;

}

.form-wrapper {
    background-color: rgb(151, 63, 63);
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(61, 105, 150, 0.2) 0px 8px 24px;

}

.form-title {
    margin-bottom: 8px;

}

.form-input-group {
    margin-bottom: 10px;

}